@import "tailwindcss";
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
.font-nunito {
  font-family: var(--font-nunito), sans-serif;
}
.client-slider-container .slick-prev,
.client-slider-container .slick-next {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.client-slider-container .slick-prev {
  left: -25px;
}

.client-slider-container .slick-next {
  right: -25px;
}

.client-slider-container .slick-prev:hover,
.client-slider-container .slick-next:hover {
  background-color: #FF5A3C;
}

.client-slider-container .slick-prev:hover svg,
.client-slider-container .slick-next:hover svg {
  color: white !important;
}

.client-slider-container .slick-prev::before,
.client-slider-container .slick-next::before {
  display: none;
}

@media (max-width: 1024px) {
  .client-slider-container .slick-prev {
    left: 0px;
  }

  .client-slider-container .slick-next {
    right: 0px;
  }
}